.navbar{
	background: steelblue;
}
.strong {
    font-weight: 700;
}
.span {
	 color: initial;
	 font-size: 1.1em;
}
.login1 {
	 background: aliceblue;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
